<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>komenuka</title>
        <meta content="komenuka は、動的画像変換サービスです。画像にコメントを追加することができます。" name="description" />
        <meta content="komenuka,コメント画像" name="keywords" />
        <meta name="author" content="aaharu" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/komenuka.css" rel="stylesheet" />
        <meta property="og:title" content="komenuka" />
        <meta property="og:site_name" content="komenuka" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://komenuka.herokuapp.com/" />
        <meta property="og:image" content="http://komenuka.herokuapp.com/favicon.ico" />
        <meta property="og:description" content="komenuka は、動的画像変換サービスです。画像にコメントを追加することができます。" />
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <h1>komenuka</h1>
            <p class="lead">URL for edited image.</p>
        </header>
        <a href="/readme" id="readme">readme</a>
        <div id="list" class="js-masonry" data-masonry-options='{"columnWidth": 30, "itemSelector": "img"}'>
<% images.each_with_index do |item, index| %>
<% if index % 2 == 0 %>
            <img src="<%= item.pre %><%= Base64.encode64(item.img.to_blob) %>" class="img-polaroid" width="250" onclick="location.href='<%= item.url %>'" />
<% elsif index % 3 == 0 %>
            <img src="<%= item.pre %><%= Base64.encode64(item.img.to_blob) %>" class="img-polaroid" width="300" onclick="location.href='<%= item.url %>'" />
<% else %>
            <img src="<%= item.pre %><%= Base64.encode64(item.img.to_blob) %>" class="img-polaroid" width="200" onclick="location.href='<%= item.url %>'" />
<% end %>
<% end %>
        </div>
<%= footer %>
        <!--[if lt IE 9]>
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"></script>
        <!--<![endif]-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.min.js"></script>
<%= ga %>
    </body>
</html>
